body {
     margin: 0;
    font-family:arial;
}


/* Main-container */
.main-container {
    width: 100%;
    height: 500px;
    background-color: #1F2937;
    
    
}

.header{
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-right {
    
    display: flex;
    gap: 15px;
    
}

.header-left {
    font-size: 24px;
}
a {
    text-decoration: none;
    color: #F9faf8;
    
}

ul {
    list-style-type: none;
    color: #E5E7EB;
}

/* Header end here */

/* Hero-text */


    .hero-text {
    height:400px;
    background-color:#1F2937;
    display:flex;
    justify-content:center;
    align-items:center;

    }
    
    .container-image-text {
    display:flex;
      width: 850px;
      margin: 10px ;

    }
    
    .images {
      width:100%;
      height:100%;
      align-self:center;
      margin:auto 20px;
      overflow: hidden;
    }
    
    .container-text , h1 {
    font-size: 46px;
      font-weight:extra-bold;
      color:#F9FAF8;
      margin:0;
    }
    
    .container-text , p {
    font-size:18px;
      color:#E5E7EB;
      margin:0;
    }
    
    .btn {
      background: #3882F6;
      border-radius: 8px;
      font-family: Arial;
      color: #ffffff;
      font-size: 16px;
      padding: 10px 26px 10px 26px;
      text-decoration: none;
      margin:5px auto;
    }
    

/* main-container-end */

/* second-container */
.second-container {
    height: 350px;
    margin: 5px;
}


h2 {
    font-size: 36px extra-bold;
    color: #1F2937;
    text-align: center;
    margin-bottom: 32px;
}

img {
    height: 100%;
    width: 100%;
    margin:0;
}

.images-text {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 20px;
 color: rgb(148, 145, 145);
}

.info {
   
    max-width: 200px;
}

/* second-container-end */


/* third-container */
 
.third-container {
    height:500px;
     background-color:#E5E7EB;
     display:flex;
     justify-content:center;
     align-items:center;
     
   }
   
   .center {
    height:min-content;
     width:600px;
     flex-wrap:wrap;
    margin: 0 10px 0 10px;
   }
   
   
   i {
   font-size:36px;
     color: #1F2937;
     font-weight: lighter;
   }
   
   .quote {
     display:flex;
     color: #1F2937;
     justify-content:flex-end;
     font-size:24px;
     margin-bottom:20px;
   }
   
   
   
   

/* third-container-end */

.fourth-container {
      height:300px;
      display:flex;
      justify-content:center;
      align-items:center;
    
      
    }
    
    .blue-box {
        width:700px;
      height:120px;
      display:flex;
      justify-content:;
      align-items:center;
      border:solid orange;
      border-radius: 5px;
      background-color:#3882f6;
        flex-wrap:wrap;
     
     
    }
    
    .zero {
    margin:auto;
    }
    
    h3 {
      color:white;
      margin:3px;
      padding:0;
    }
    
    p {
      margin:3px;
      padding:1px;
    color:whitesmoke;
    }
    
    .btn-2 {
            height: max-content;
            width:max-content;
            border: 2px solid white;
            border-radius: 8px;
            background-color:#3882F6;
            color: white;
            padding: 8px 27px;
            font-size: 16px;
            cursor: pointer;
            margin-right:40px;
            margin-left:5px;
            margin-bottom:8px;
    }
    
/* .fourth-container-end */

footer {
    height: 80px;
    width: auto;
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


font {
    
}